<footer>
    <address>
      <div class="row">
        <div class="col-lg-1 col-md-2 col-sm-3">
          <img src="assets/logo_bloom.png" class="logo_bloom">
        </div>
          <div class="col-lg-3 col-md-12">
              Av. Patria 324, Jardines de la patria. Jalisco Mexico. C.P. 45110
          </div>
          <div class="col-lg-5 col-md-12">
              <p>Telefonos:</p>
              <p>Guadalajara +52 (33) 3777 1640</p>
              <p>Amatitán +52 (374) 745 0660</p>
          </div>
          <div class="col-lg-2 col-md-12">
              <p>Email:</p>
              <p>contacto@bloomfarms.com.mx</p>
          </div>
      </div>
    </address>
</footer>

