<footer>
    <address>
      <div class="row container-footer">
        <div class="helper">
          <img src="assets/logo_bloom.png" class="logo_bloom">
        </div>
          <div class="helper">
              <p>Arándanos Selectos, S.A. de C.V.</p><p>(Bloom Farms) </p>
          </div>
          <div class="helper">
              <p>Telefonos:</p>
              <p>GDL +52 (33) 3777 1640</p>
              <p>Amatitán +52 (374) 745 0660</p>
          </div>
          <div class="helper">
              <p>Email:</p>
              <p>contacto@bloomfarms.com.mx</p>
          </div>
      </div>
    </address>
</footer>

