img{
  width: 20%;
}
#about{
  color: #2b265c;
  padding: 10% 0px 0px 0px;
  width: 100%;
  @media screen and (max-width: 767px) {
    padding: 10% 40px 0px 40px;
  }
}

.propuesta{
  width: 100%;
  margin: 0;
  .col{
    .row{
      h3{
        text-align: center;
        color: #842164;
      }
    }
    .body-propuesta{
      background-color: #a2192d;
      text-align: center;
      p{
        padding: 0px 10px 0px 10px;
        color: white;
      }
    }
  }
}
