<div class="" id="about">
    <h3 class="">ABOUT ME</h3>
    <p class=""><em>I love photography</em></p>
    <p>We have created a fictional "personal" website/blog, and our fictional character is a hobby photographer. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
      qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="">
      <div class=" m6">
        <p><b>My Name</b></p><br>
        <img src="./assets/logo.png" class="" alt="Photo of Me" width="500">
      </div>

      <!-- Hide this text on small devices -->
      <div class=" m6">
        <p>Welcome to my website. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <p class="">Im really good at:</p>
    <p class="">Photography</p>
    <div class="">
      <div class="" style="width:90%">90%</div>
    </div>
    <p class="">Web Design</p>
    <div class="">
      <div class="" style="width:85%">85%</div>
    </div>
    <p class="">Photoshop</p>
    <div class="">
      <div class="" style="width:75%">75%</div>
    </div>
  </div>

  <div>
    <div class="">
      <span class="">14+</span><br>
      Partners
    </div>
    <div class="">
      <span class="">55+</span><br>
      Projects Done
    </div>
    <div class="">
      <span class="">89+</span><br>
      Happy Clients
    </div>
    <div class="">
      <span class="">150+</span><br>
      Meetings
    </div>
  </div>
