<div class="row" id="about">
  <div class="col-md-8 offset-md-2">
      <h3 class="">Acerca de nosotros</h3>
      <p>Arándanos Selectos, S.A. de C.V. (Bloom Farms) es una compañía agrícola especializada en mora azul de calidad de exportación solamente. Utiliza tecnologías de punta para la producción</p>
      <p>La constante creación de empleo y la innovación de tecnologías en el campo son nuestros pilares.</p>
      <p>Con base en la sustentabilidad, la innovación y el aprovechamiento de la ubicación estratégica de nuestras tierras, junto con nuestro conocimiento del agro, nos dan los cimientos para seleccionar las tecnologías más actuales para llegar a ser los productores de arándano azul más sustentables del orbe.</p>

      <p>Todo esto y una muy crítica discriminación en base a el Tamaño. Bloom y Color, nos ayudan a garantizar un producto superior y con más vida de anaquel.</p>

      <p>Pero el impacto de nuestra acciones llega también hasta la comunidad, lo que como Empresa Socialmente Responsable tenemos como premisa buscar:</p>
        <ol>

          <li>La reconversión del campo</li>
          <li>Generar un creciente número de empleos y de ellos 60% son ocupados por mujeres</li>
          <li>La equidad de genero</li>
          <li>Optimizar el consumo de recursos</li>
          <li>Vía reforestación apoyar a la recarga de los mantos friáticos del municipio</li>
        </ol>

  </div>

</div>
<div class="row propuesta">
  <div class="col">
      <div class="row">
          <div class="col">
            <h3>Propuesta de valor al cliente</h3>
          </div>
        </div>
        <div class="row body-propuesta">
          <div class="col">
              <p>Disponibilidad de producto todo el año.</p>
          </div>
          <div class="col">
              <p>Incrementamos los beneficios para la salud por armonía con la naturaleza.</p>
          </div>
          <div class="col">
              <p>Mejor sabor, tamaño y bloom.</p>
          </div>
          <div class="col">
              <p>Larga vida de anaquel y sabor superior.</p>
          </div>
        </div>
  </div>
</div>

