<div class="" id="about">
    <h3 class="">Acerca de nosotros</h3>
    <p>La constante creación de empleo y la innovación de tecnologías en el campo son nuestros pilares.

        Partiendo de estos dos pilares, hemos incursionada en el mercado del arándano, en particular el del arándano azul

        Con base en la sustentabilidad, la innovación y el aprovechamiento de la ubicación estratégica de nuestras tierras
        .</p>
    <div class="">
      <div class=" m6">
        <img src="./assets/logo.png" class="" alt="Photo of Me" width="500">
      </div>
    </div>
    <!--<p class="">Im really good at:</p>
    <p class="">Photography</p>
    <div class="">
      <div class="" style="width:90%">90%</div>
    </div>
    <p class="">Web Design</p>
    <div class="">
      <div class="" style="width:85%">85%</div>
    </div>
    <p class="">Photoshop</p>
    <div class="">
      <div class="" style="width:75%">75%</div>
    </div>-->
  </div>

  <!--div>
    <div class="">
      <span class="">14+</span><br>
      Partners
    </div>
    <div class="">
      <span class="">55+</span><br>
      Projects Done
    </div>
    <div class="">
      <span class="">89+</span><br>
      Happy Clients
    </div>
    <div class="">
      <span class="">150+</span><br>
      Meetings
    </div>
  </div-->
