
<div class="navigation">
  <div class="nav-content wrapper">
      <div class="container-fluid">
          <div class="row">
              <div class="col-xs-6 col-sm-4" data-event-tracking="true" data-event-category="link">
                  <a rel="home" class="logo">
                      <img src="assets/logo-sm.png" alt="Driscoll's Only the Finest Berries" class="lazyloaded">
                  </a>
              </div>
              <div class="col-xs-6 col-sm-8">
                  <div class="nav-items" role="navigation" aria-labelledby="nav-primary-label">
                      <span class="sr-only" id="nav-primary-label">Primary Navigation</span>
                      <ul class="nav-main" data-event-tracking="true" data-event-category="nav">
                        <li class="trigger-desktop-dropdown" aria-haspopup="true" aria-expanded="false">
                                    <a class="nav-link" href="#home" >INICIO</a>
                        </li>

                        <li class="trigger-desktop-dropdown" aria-haspopup="true" aria-expanded="false">
                                    <a class="nav-link" href="#about">NOSOTROS</a>
                        </li>

                        <!--li class="trigger-desktop-dropdown" aria-haspopup="true" aria-expanded="false">
                                    <a class="nav-link" href="#portfolio">PORTAFOLIO</a>
                        </li-->

                        <li class="trigger-desktop-dropdown" aria-haspopup="true" aria-expanded="false">
                                    <a class="nav-link" href="#contact" > CONTACTO</a>
                        </li>
                      </ul>
                      <!-- .nav-main -->
                  </div>
              </div>
              <!-- .col-xs-6.col-sm-8 -->
          </div>
          <!-- .row -->
      </div>
      <!-- .container-fluid -->
  </div>
  <!-- .nav-content.content-wrapper -->

</div>
<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 " id="home">
  <div style="white-space:nowrap;">
      <video autoplay muted loop id="myVideo" (click)="onClickVideo()" #videoPlayer>
          <source src="assets/short.mp4" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
        <div (click)="onClickVideo()" >&nbsp;</div>
  </div>
</div>
