<div class="bgimg-3 opacity">
    <div >
       <span >CONTACTO</span>
    </div>
  </div>

<div class="" id="contact">
  <div class="row">
    <div class="col-sm-12 col-md-5 offset-md-1">

      <p>Dejanos una mensaje</p>
      <form (submit)="doContact()" [formGroup]="contactoForm">
          <div class="form-group">
              <input class="form-control" type="text" [(ngModel)]="data.nombre" [validatedInput]="errorMessages.nombre" name="nombre" formControlName="nombre"   id="nombre"  placeholder="Nombre">
          </div>
          <div class="form-group">
              <input class="form-control" type="email" [(ngModel)]="data.correo" [validatedInput]="errorMessages.correo" name="correo" formControlName="correo"   id="correo"  placeholder="Correo">
          </div>
          <div class="form-group">
              <textarea class="form-control" type="text" [(ngModel)]="data.mensaje" [validatedInput]="errorMessages.mensaje" name="mensaje" formControlName="mensaje"   id="mensaje"  placeholder="Mensaje"></textarea>
          </div>
        <button class="btn btn-success">
           Enviar
        </button>
      </form>
    </div>
    <div class="col-sm-12 col-md-5 container-map" >
      <!-- Add Google Maps -->
      <!--iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d933.1625408913869!2d-103.42098437078116!3d20.683806999136646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428aeeccecf2513%3A0x3a3fc9a2b5b2977f!2sAv.+Patria+324%2C+Jardines+de+la+Patria%2C+45110+Zapopan%2C+Jal.!5e0!3m2!1ses-419!2smx!4v1526942428570" width="400" height="309" frameborder="0" style="border:0" allowfullscreen></iframe-->
    </div>
  </div>
</div>
