.container-map{
  text-align: center;
  .map{
    margin: auto;
  }
}
#contact{
  text-align: center;
  background-color: #98cf3e;
  color: white;
  padding-bottom: 100px;
  padding-top: 10px;
  .row{
    margin: auto;
  }
}
p{
  text-align: center;
}
.map{
  width: 100%;
  height: 309px;

}
