.container-map{
  text-align: center;
  .map{
    margin: auto;
  }
}
#contact{
  text-align: center;
  background-color: #7877b1;
  color: white;
  padding-bottom: 90px;
  .row{
    margin: auto;
  }
}
p{
  text-align: center;
}
