<div class="bgimg-2 opacity">
    <div>
      <span>PORTAFOLIO</span>
    </div>
  </div>

<!-- Container (Portfolio Section) -->
<div class="" id="portfolio">
    <carousel [noPause]="noPause">
        <slide>
          <img src="assets/p1.jpg" alt="First slide" style="display: block; ">
        </slide>
        <slide>
          <img src="assets/p2.jpg" alt="First slide" style="display: block; ">
        </slide>
        <slide>
          <img src="assets/p3.jpg" alt="First slide" style="display: block; ">
        </slide>
        <slide>
          <img src="assets/p4.jpg" alt="First slide" style="display: block; ">
        </slide>
        <slide>
          <img src="assets/p5.jpg" alt="First slide" style="display: block; ">
        </slide>
        <slide>
          <img src="assets/p6.jpg" alt="First slide" style="display: block; ">
        </slide>
        <slide>
          <img src="assets/p7.jpg" alt="First slide" style="display: block; ">
        </slide>
        <slide>
          <img src="assets/p8.jpg" alt="First slide" style="display: block; ">
        </slide>
        <slide>
            <iframe src="https://www.youtube.com/embed/j8nNQR80aUw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </slide>
      </carousel>
</div>
